# Pandas Exercise Data Series (40 exercises)

In [5]:
import numpy as np
import pandas as pd

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [8]:
series = pd.Series(data=['a', 'b', 'c'])
series

0    a
1    b
2    c
dtype: object

2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

Use the `.toList` method

In [14]:
series.tolist()

['a', 'b', 'c']

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [25]:
ser1 = pd.Series(np.arange(4) * 2 + 2)
ser2 = pd.Series(np.arange(4) * 2 + 1)

In [27]:
print(ser1 + ser2)
print(ser1 - ser2)
print(ser1 * ser2)
print(ser1 / ser2)

0     3
1     7
2    11
3    15
dtype: int64
0    1
1    1
2    1
3    1
dtype: int64
0     2
1    12
2    30
3    56
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series.

In [28]:
ser1 > ser2

0    True
1    True
2    True
3    True
dtype: bool

In [30]:
ser1 < ser2

0    False
1    False
2    False
3    False
dtype: bool

In [31]:
ser1 == ser2

0    False
1    False
2    False
3    False
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series.

In [32]:
d = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

In [36]:
series_from_dict = pd.Series(d)
series_from_dict

a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.

In [37]:
pd.Series(np.arange(3))

0    0
1    1
2    2
dtype: int64

7. Write a Pandas program to change the data type of given a column or a Series.

In [38]:
s1 = pd.Series(['100', '200', 'python', '300.12', '400'])

In [40]:
s2 = pd.to_numeric(s1, errors="coerce")

s2

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [42]:
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}
df = pd.DataFrame(data=d)
df

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [46]:
df.ix[:,0]

AttributeError: 'DataFrame' object has no attribute 'ix'

9. Write a Pandas program to convert a given Series to an array.

In [50]:
ser9 = pd.Series(np.arange(5))
ser9.to_list()

[0, 1, 2, 3, 4]

10. Write a Panda program to convert Series of lists to one Series

In [52]:
ser10 = pd.Series([
    ['Red', 'Green', 'Black'],
    ['Red', 'Black'],
    ['Yellow']
])
print(ser10)

0    [Red, Green, Black]
1           [Red, Black]
2               [Yellow]
dtype: object

In [57]:
ser10_combined = ser10.apply(pd.Series)

ser10_combined.stack().reset_index(drop=True)

0       Red
1     Green
2     Black
3       Red
4     Black
5    Yellow
dtype: object